* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
img {
  width: 16px;
  height: 16px;
  display: inline-block;
  object-fit: cover;
  background-image: url("./img/down-arrow.svg");
  transition: all 0.2s ease-out;
}
.App {
  width: 60%;
}

li {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 1rem;
}
p {
  width: 90%;
  padding: 20px 20px;
  font-size: 0.8rem;
  transform-origin: top;
  height: 100%;
  display: none;
}
.open {
  display: block;
}
.turn-up {
  transform: rotateX(180deg);
}

.green button {
  background-color: rgb(134, 216, 148);
}

.green {
  background-color: rgb(210, 255, 217);
}

.orange button {
  background-color: rgb(255, 192, 121);
}

.orange {
  background-color: rgb(255, 225, 190);
}

.gray button {
  background-color: rgb(179, 179, 179);
}
.gray {
  background-color: rgb(218, 218, 218);
}
